.g-surface-viewer-container
  height 500px
  margin-bottom 15px
  background-color black

  .g-loading-area
    position relative

    .g-load-progress
      width 86%
      margin 0 7%
      position absolute
      top 240px

      >.progress-bar
        transition none
